header {
    text-align: center;
    color:white;
    font-size: 36pt;
    font-family: 'Dancing Script', cursive;
   grid-area: head;
}


body {
    text-align:center;
    font-size: 17pt;
    background: linear-gradient(90deg, #816C5B, #A9A18C, #816C5B);
    color: white;
    font-family: 'EB Garamond', serif;
}

h1 {
    
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
}
h2 {
    font-size: 16pt;
    color:#83929F;
    font-family: 'EB Garamond', serif;
    text-transform:uppercase;
}
h3 {
    font-size: 17pt;
    font-family: 'EB Garamond', serif;
}

article {
    background:#454647;
    color:white;
    font-size:70%;
    width:90%;
    text-align:right;
    border-radius:10px;
    padding-bottom: 30px;
    padding-right:30px;
    padding-top:.5px;
    margin:auto;

}

.img-circle {
    height: 30%;
    width: 30%;
    border-radius:50%;
    float:left;
    padding:90px;
    padding:75px;
}

footer {
    bottom:0;
    left:15%;
    right: 15%;
    position:fixed;
    font-size: 10pt;
    font-weight:bold;
    grid-area: foot;
}

a {
    color:#4a4b4c;
    text-decoration:none;
}

a:hover {
    color:black;
    text-decoration: underline;
    
.topnav {
    float: left;
}

.grid-container {
    display:grid;
}

.left {
    grid-area: left;
}

.middle {
    grid-area: middle;
    
}
.right{
    grid-area: right;
}

